/* Colores */
$clay-orange: #C74E1B;
$lime-green: #CBE724;
$white: #FFFFFF;
$black: #000000;
$highlight-green: #cbea46;
$primary-color: #3498db; // Definición del color primario

/* Tipografía */
$font-primary: 'Helvetica Neue', Arial, sans-serif;

/* Breakpoints (MOBILE FIRST) */
$bp-mobile: 480px;   // iPhone 12/13/14 Pro Max, etc.
$bp-tablet: 768px;   // tablets verticales
$bp-desktop: 1024px; // tablets horizontales / laptops pequeños
/* y quizás un $bp-large: 1440px si quieres, etc. */